<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Supe Sightings - Edit Organization</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

       <!--Header-->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <span style="float:left">
                        <a class="btn badge-pill" href="home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="40" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"/></svg>
                        </a>
                    </span>
                    <h1>Organization</h1>
                </div>
            </div>
            
            <!--Buttons to navigate between pages-->
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="supes" class="btn btn-outline-primary btn-lg">Supes</a>
                </div>
                <div class="col text-center m-3">
                    <a href="superpowers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>


            <!--Form for editing a power-->
            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Edit Location</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="editOrganization" method="POST">
                        <div class="form-group row">
                            <label for="organizationName" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="organizationName" id="locationName" 
                                       class="form-control" th:value="${organization.name}"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="organizationAddress" class="col-3 col-form-label">
                                Address</label>
                            <div class="col-9">
                                <input type="text" name="organizationAddress" id="locationAddress" 
                                       class="form-control" th:value="${organization.address}"/>
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group row">
                            <label for="organizationDescription" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="organizationDescription" id="locationAddress" 
                                       class="form-control" th:value="${organization.description}"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="supes" class="col-3 col-form-label">
                                Affiliated Supes</label>
                            <div class="col-9">
                                <select multiple id="supes" name="supeId" 
                                        class="form-control" >
                                    <option th:each="supe : ${supes}" 
                                            th:value="${supe.id}" 
                                            th:text="${supe.name}"
                                            th:selected="${organization.hasSupe(supe.Id)}"
                                            >
                                        Supe</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <input type="hidden" name="id" th:value="${organization.id}"/>
                        <button type="submit" class="btn btn-primary">
                            Update Organization</button>
                    </form>
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
